body {
  background-color: white;
  margin: 0px;
  font-family: sans-serif;
}


#app-container {
  background-color: white;
  padding: 0px;
}

#app-header-container {
  background-color: gray;
  margin-bottom: 0.5em;
}


.message-section {
  border: 1px solid gray;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  margin: 0.5em;
  padding: 0em;
  clear: both;
}

.messages-container {
  clear: both;
}


.header-bar {
  padding: 0.2em;
  overflow: overlay;
  background-color: lightgray;
}

.header-text {
  float: left;
  margin-top: 0em;
  margin-bottom: 0em;
}

.header-menu {
  float: right;
}